body {
  margin: 0;
  font-family:'Saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #060b2b;
  color: white;
}

code {
  font-family:'Saira', sans-serif;
}